%h1
  Labs


.row
  .col-sm-12.table-responsive
    %p.text-muted.float-right Labs are unlocked over time.
    %table.table.table-clickable

      %thead
        %tr
          %th #
          %th Due
          %th Title

      %tbody
        - @labs.each_with_index do |lab, index|

          - if index + 1 <= @unlock
            %tr.text-primary{data: {href: "/labs/#{lab}"}}
              %td= index + 1
              %td Week #{(index+1) * 2}
              %td #{lab.sub(/^\d+\-/,'').titleize}
          - else
            %tr.text-muted
              %td= index + 1
              %td Week #{(index+1) * 2}
              %td #{lab.sub(/^\d+\-/,'').titleize}
