%nav.navbar.navbar-expand-lg.navbar-dark.bg-primary.mx-md-3.my-md-2

  = link_to course['number'], root_url, class: 'navbar-brand'

  %button.navbar-toggler{"aria-controls" => "main-menu", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#main-menu", "data-toggle" => "collapse", :type => "button"}
    %span.navbar-toggler-icon

  .collapse.navbar-collapse.justify-content-around#main-menu
    - if logged_in?
      %ul.navbar-nav
        - topics.each do |topic|
          %li.nav-item= link_to topic.sub(/\d-/,''), topic_path(topic), class: 'nav-link topic-nav-link'

      %ul.navbar-nav
        %li.nav-item= link_to "Assignments", "/assignments", class: 'nav-link topic-nav-link'
        %li.nav-item= link_to "Labs", "/labs", class: 'nav-link topic-nav-link'
        %li.nav-item= link_to "Videos", "/videos", class: 'nav-link topic-nav-link'

      - if Rails.configuration.site['require_login']
        %ul.navbar-nav
          %li.nav-item= link_to "Sign Out", "/sessions/1", method: :delete, class: 'nav-link topic-nav-link'

  -# %form.form-inline.my-2.my-lg-0.ml-auto
  -#   %input.form-control.mr-sm-2{size: '80%', :placeholder => "Search", :type => "text"}/
